*.dll
*.exe
*.pdb
*.nupkg
*.p7s
*.cache
*.FileListAbsolute.txt
packages
*.Up2Date
*.xml
Debug
copilot-chat
*.vsidx
.vs
*.zip
*.vsix
*.vsi
*.vstemplate
*.vsto
*.v11.suo
*.v12.suo
*.v14.suo
*.v15.suo
*.v16.suo
*.v17.suo
*.v18.suo
*.v19.suo
*.v20.suo
*.v21.suo
*.v22.suo
*.v23.suo
*.png
